.btn {
    border-radius: 0.375rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    text-align: center;
    transition:
        background-color 350ms ease-in-out,
        color 350ms ease-in-out,
        opacity 350ms ease-in-out;

    &.primary {
        background-color: var(--color-primary);
        color: var(--color-primary-content);

        &:hover {
            opacity: 0.8;
        }
    }

    &.secondary {
        background-color: var(--color-secondary);
        color: var(--color-secondary-content);

        &:hover {
            opacity: 0.8;
        }
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}
