@import url(https://fonts.bunny.net/css?family=montserrat:800|nunito-sans:400);
@import "./base/reset.css";
@import "./base/root.css";
@import "./base/typographie.css";
@import "./themes/theme.css";
@import "./components/button.css";
@import "./components/badge.css";

/*@utility container {*/
/*    margin-inline: auto;*/
/*    padding-inline: 1rem;*/
/*    width: 100%;*/

/*    @media (width >= 40rem !* 640px *!*/
/*    ) {*/
/*        max-width: 40rem !* 640px *!*/
/*    ;*/
/*    }*/
/*    @media (width >= 48rem !* 768px *!*/
/*    ) {*/
/*        padding-inline: 0;*/
/*        max-width: 48rem !* 768px *!*/
/*    ;*/
/*    }*/
/*    @media (width >= 64rem !* 1024px *!*/
/*    ) {*/
/*        max-width: 64rem !* 1024px *!*/
/*    ;*/
/*    }*/
/*    @media (width >= 80rem !* 1280px *!*/
/*    ) {*/
/*        max-width: 80rem !* 1280px *!*/
/*    ;*/
/*    }*/
/*    @media (width >= 96rem !* 1536px *!*/
/*    ) {*/
/*        max-width: 96rem !* 1536px *!*/
/*    ;*/
/*    }*/
/*}*/
