.kanban {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    max-height: calc(100dvh - 79px);
    overflow-x: auto;
    padding: 1rem;
}

.card {
    background-color: var(--color-base-100);
    border: 1px solid color-mix(in oklab, var(--color-base-content) 10%, transparent);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    width: 20rem;
}

.card .header {
    align-items: center;
    background-color: var(--color-base-200);
    border-bottom: 1px solid color-mix(in oklab, var(--color-base-content) 10%, transparent);
    cursor: move;
    display: flex;
    font-size: 1.125rem;
    gap: 0.5rem;
    justify-content: space-between;
    padding: 2rem;
}

@media (width >= 64em) {
    .kanban .header h2 {
        font-size: 1.125rem;
    }
}

.list {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1rem;
    min-height: 12.5rem;
    overflow-y: auto;
    padding: 1rem;
}

.item {
    border-radius: 0.5rem;
    position: relative;
}

.item-button {
    cursor: move;
    text-align: left;
    width: 100%;
}

.item-linear {
    background: linear-gradient(to right, var(--color-primary), var(--color-secondary), var(--color-accent));
    border-radius: 0.5rem;
    inset: 0;
    position: absolute;
    transition: opacity 350ms ease-in-out;
}

.item-title {
    background-color: var(--color-base-300);
    border-radius: 0.5rem;
    display: block;
    margin: 1px;
    padding: 1rem;
    position: relative;
    z-index: 1;
}

.list .empty {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

.list .empty p {
    font-size: 1.125rem;
}

.cdk-drag-preview {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0.8;
}

.cdk-drag-placeholder {
    opacity: 0.3;
}
