*,
::after,
::before,
::backdrop,
::file-selector-button {
    border: 0 solid;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
:host {
    font-family:
        ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    line-height: 1.5;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
}

hr {
    border-top-width: 1px;
    color: inherit;
    height: 0;
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp,
pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-feature-settings: normal;
    font-size: 1em;
    font-variation-settings: normal;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

table {
    border-collapse: collapse;
    border-color: inherit;
    text-indent: 0;
}

:-moz-focusring {
    outline: auto;
}

progress {
    vertical-align: baseline;
}

summary {
    display: list-item;
}

ol,
ul,
menu {
    list-style: none;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

img,
video {
    height: auto;
    max-width: 100%;
}

button,
input,
select,
optgroup,
textarea,
::file-selector-button {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    opacity: 1;
}

:where(select:is([multiple], [size])) optgroup {
    font-weight: bolder;
}

:where(select:is([multiple], [size])) optgroup option {
    padding-inline-start: 20px;
}

::file-selector-button {
    margin-inline-end: 4px;
}

::placeholder {
    opacity: 1;
}

@supports (not (-webkit-appearance: -apple-pay-button)) or (contain-intrinsic-size: 1px) {
    ::placeholder {
        color: color-mix(in oklab, currentcolor 50%, transparent);
    }
}

textarea {
    resize: vertical;
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-date-and-time-value {
    min-height: 1lh;
    text-align: inherit;
}

::-webkit-datetime-edit {
    display: inline-flex;
}

::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
}

::-webkit-datetime-edit,
::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute-field,
::-webkit-datetime-edit-second-field,
::-webkit-datetime-edit-millisecond-field,
::-webkit-datetime-edit-meridiem-field {
    padding-block: 0;
}

::-webkit-calendar-picker-indicator {
    line-height: 1;
}

:-moz-ui-invalid {
    box-shadow: none;
}

button,
input:where([type="button"], [type="reset"], [type="submit"]),
::file-selector-button {
    appearance: button;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

[hidden]:where(:not([hidden="until-found"])) {
    display: none !important;
}
